﻿ <!-- Footer Widget -->
<div class="footer-widget">
    <!-- Container -->
    <div class="container">
        <!-- Row -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <!-- Widget : About -->
                <aside class="widget widget_about">
                    <h3 class="widget-title">About us</h3>
                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
                    <p>Sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                </aside><!-- Widget : About /- -->
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- Widget: Pages -->
                <aside class="widget widget_pages">
                    <h3 class="widget-title">Services</h3>
                    <ul>
                        <li class="page_item"><a href="#">Service 1</a></li>
                        <li class="page_item"><a href="#">Service 2</a></li>
                        <li class="page_item"><a href="#">Service 3</a></li>
                        <li class="page_item"><a href="#">Service 4</a></li>
                        <li class="page_item"><a href="#">Service 5</a></li>
                        <li class="page_item"><a href="#">Service 6</a></li>
                    </ul>
                </aside><!-- Widget: Pages /- -->
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- Widget: Pages -->
                <aside class="widget widget_pages">
                    <h3 class="widget-title">Tools</h3>
                    <ul>
                        <li class="page_item"><a href="#">Market Cap</a></li>
                        <li class="page_item"><a href="#">Bitcoin Converter</a></li>
                        <li class="page_item"><a href="#">Cryptocurrency Calculator</a></li>
                        <li class="page_item"><a href="#">Charts</a></li>
                        <li class="page_item"><a href="#">Eearning Calculator</a></li>
                        <li class="page_item"><a href="#">Wallets</a></li>
                    </ul>
                </aside><!-- Widget: Pages /- -->
            </div>
            <div class="col-lg-3 col-md-6">
                <!-- Widget : Contact Info -->
                <aside class="widget widget_contact-info">
                    <h3 class="widget-title">Contact info</h3>
                    <div class="wid-cnt-detail">
                        <p><i class="fa fa-phone"></i><a href="tel:+386489550686">+84 1234 569 87</a></p>
                        <p><i class="fa fa-envelope"></i><a href="mailto:yourdomain@name.com">yourdomain@name.com</a></p>
                        <p><i class="fa fa-map-marker"></i>123, Las Vegas lipsum</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </aside><!-- Widget : Contact -->
            </div>
        </div><!-- Row /- -->
    </div><!-- Container /- -->
</div><!-- Footer Widget /- -->
<div class="bottom-footer">
    <!-- Container -->
    <div class="container">
        <div class="ftr-content">
            <p><i class="fa fa-copyright"></i> Cryptonix Demo. All Rights Reserved</p>
            <a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>
        </div>
    </div><!-- Container /- -->
</div>
