﻿<!-- Menu Block -->
<div class="menu-block">
    <nav class="navbar ownavigation navbar-expand-lg">
        <!-- Container -->
        <div class="container">
            <!--a class="navbar-brand" href="index.html">Cryptonix</a-->
            <a class="image-logo navbar-brand" href="index.html"><img src="assets/images/logo-blue.png" alt="Logo" /></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    <li class="dropdown"><a class="nav-link" title="Home" href="#">Link 1</a></li>
                    <li class="dropdown"><a class="nav-link" title="Home" href="#">Link 2</a></li>
                    <li class="dropdown"><a class="nav-link" title="Home" href="#">Link 3</a></li>
                    <li class="dropdown"><a class="nav-link" title="Home" href="#">Link 4</a></li>
                </ul>
            </div>
            <div id="loginpanel-1" class="desktop-hide">
                <div class="right toggle" id="toggle-1">
                    <a id="slideit-1" class="slideit" href="#slidepanel"><i class="fo-icons fa fa-inbox"></i></a>
                    <a id="closeit-1" class="closeit" href="#slidepanel"><i class="fo-icons fa fa-close"></i></a>
                </div>
            </div>
        </div><!-- Container /- -->
    </nav>
</div><!-- Menu Block /- -->
