﻿<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cryptocurrency</title>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="~/Content/assets/images/favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" href="~/Content/assets/images/apple-touch-icon-114x114-precomposed.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" href="~/Content/assets/images/apple-touch-icon-72x72-precomposed.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="~/Content/assets/images/apple-touch-icon-57x57-precomposed.png">

    <!-- Library - Google Font Familys -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cRoboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i%7cPoppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cMontserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7cLato:100,100i,300,300i,400,400i,700,700i,900,900i%7cOpen+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7cPT+Sans:400,400i,700,700i" rel="stylesheet">

    <!-- Library -->
    <link href="~/Content/assets/css/lib.css" rel="stylesheet">

    <!-- Custom - Common CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/rtl.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">

    <script src="~/Content/assets/js/jquery.min.js"></script>

    <!--[if lt IE 9]>
        <script src="js/html5/respond.min.js"></script>
    <![endif]-->
    <style>
        .showload{
            opacity:0.6;
            display:block !important;
        }
    </style>
</head>

<body data-offset="200" data-spy="scroll" data-target=".ownavigation">
    <!-- Loader -->
    <div id="site-loader" class="load-complete">
        <div class="loader">
            <div class="line-scale"><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div><!-- Loader /- -->
    <!-- Header Section -->

    <div class="main-container">
        <!-- Page Banner -->
        <main class="site-main">
            <div class="services-section-6 no-bottom-padding">
                <!-- Container -->
                <div class="container">
                    @RenderBody()
                    
                </div><!-- Container /- -->
            </div><!-- Services Section 6 /- -->

        </main>

    </div>

    <!-- Footer Section -->
    <!-- JQuery v1.12.4 -->

    <!-- Library - Js -->
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/lib.js"></script>

    <!-- Library - Theme JS -->
    <script src="~/Content/assets/js/functions.js"></script>

</body>
</html>