﻿@model List<TradeCoin.Models.DanhSachSanMode>
<div class="">
    <table class="table table-bordered datatable-responsive-custom">
        <thead>
            <tr class="" style="background:#F0F0F0;">
                <th class="text-bold text-center" style="width:40px;">#</th>
                <th class="text-bold ">Sàn</th>
                <th class="text-bold text-right">Giá Trị</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model.OrderByDescending(p=>p.Gia))
            {
                <tr>
                    <td class="text-center">@i</td>
                    <td class="text-bold"><a href="#">@item.TenSite</a></td>
                    <td class="text-right text-danger text-bold">@item.Gia.ToString("n2")</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
</div><!-- Row /- -->

