﻿@model List<TradeCoin.Models.SoSanhModel>
<style>
    #tbl-thuetb_wrapper{
        width:100%;
    }
</style>
<div class="row">
    <table class="table table-bordered datatable-responsive-custom" id="tbl-thuetb" style="width:100%;">
        <thead>
            <tr class="" style="background:#F0F0F0;">
                <th class="text-bold text-center" style="width:40px;">#</th>
                <th class="text-bold ">Name</th>
                <th class="text-bold text-center">Max</th>
                <th class="text-bold text-center">Min</th>
                <th class="text-bold text-center" style="width:150px">Biên Độ (%)</th>
                <th class="text-bold text-right">Chênh Lệch (VNĐ)</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model.OrderByDescending(p=>p.TiLe))
            {
                <tr>
                    <td class="text-center">@i</td>
                    <td class="text-bold"><a href="javascript:void(0)" onclick="loadSan('@item.Coin')">@item.Coin.ToUpper()</a></td>
                    <td class="text-center">@item.SiteLon.ToUpper()</td>
                    <td class="text-center">@item.SiteBe.ToUpper()</td>
                    <td class="text-center text-success text-bold">@item.TiLe.ToString("n3")</td>
                    <td class="text-right text-danger text-bold">@item.TienLai.ToString("n2")</td>
                </tr>
                i++;
            }
        </tbody>

    </table>
</div><!-- Row /- -->

<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_responsive.js"></script>

<script type="text/javascript">

    var gridtable = $('#tbl-thuetb').DataTable({
        "ordering": true,
        "paging": false,
        "filter": false,
        "info": false
    });

    function loadSan(coin) {
        $("#site-loader").addClass("showload");
        $.ajax({
            url: '/Home/LayDanhSachSanByCoin?symbol=' + coin,
            method: "GET",
            datatype: 'json',
            success: function (data) {
                $(".coinlst").html(data);
                $(".txtTenCoin").html(coin.toUpperCase());
                $('#exampleModal').modal('show');
                $("#site-loader").removeClass("showload");
            },
            error: function (data) {
                $("#site-loader").removeClass("showload");
                alert("Không Lấy Được Dữ Liệu");
            }
        });
    };
</script>