﻿@model List<TradeCoin.Models.SoSanhModel>
@{
    ViewBag.Title = "Home Page";
}
<style>
    select, option {
        text-transform: capitalize;
    }
</style>
<div class="row">
    <div class="col-xs-4" style="margin-right:10px;">
        <div class="form-group">
            <select class="form-control" id="site1" style="width:100%">
                <option value="">Tất cả</option>
                <option value="coincheck">coincheck</option>
                <option value="bitflyer">bitflyer</option>
                <option value="binance">binance</option>
                <option value="coinbase">coinbase</option>
                <option value="bithumb">bithumb</option>
                <option value="coinone">coinone</option>
                <option value="huobipro">huobipro</option>
                <option value="bitfinex">bitfinex</option>
                <option value="bitbank">bitbank</option>
            </select>
        </div>
    </div>
    <div class="col-xs-4" style="margin-right:10px;">
        <div class="form-group">
            <select class="form-control" id="site2" style="width:100%">
                <option value="">Tất cả</option>
                <option value="coincheck">coincheck</option>
                <option value="bitflyer">bitflyer</option>
                <option value="binance">binance</option>
                <option value="coinbase">coinbase</option>
                <option value="bithumb">bithumb</option>
                <option value="coinone">coinone</option>
                <option value="huobipro">huobipro</option>
                <option value="bitfinex">bitfinex</option>
                <option value="bitbank">bitbank</option>
            </select>
        </div>
    </div>
    <div class="col-xs-2">
       <button class="btn btn-primary" id="timkiem">Tìm kiếm</button>
    </div>
    </div>
<div id="DSCoin">
    @Html.Partial("~/Views/Home/_TableCoin.cshtml", Model)
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Giá Trị Đồng <span class="text-bold text-danger txtTenCoin"></span> Trên Các Sàn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body coinlst" >
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var timer = 0;
    //startTimer();
    function ReloadDS() {
        $.ajax({
            url: '/Home/GetTableCoin?Site1=' + $("#site1").val() + '&Site2=' + $("#site2").val(),
            method: "GET",
            datatype: 'json',
            success: function (data) {
                $("#DSCoin").html(data);
                $("#site-loader").removeClass("showload");
            },
            error: function (data) {
            }
        });
    }
    function startTimer() {
        setInterval(ReloadDS, 60000);
    }
    function timerUp() {
        timer++;
        var resetat = 60; //change this number to adjust the length of time in seconds
        if (timer == resetat) {
            ReloadDS();
        }
        var tleft = resetat - timer;
    }
    $("#timkiem").click(function () {
        $("#site-loader").addClass("showload");
        ReloadDS();
    })
</script>